:root {
	--white: #F9F9F9;
	--gray: #D7D7D7;
	--blue: #4D7382;
	--light-blue: #CEF1FF;

	--fz-huge: 48px;
	--fz-large: 36px;
	--fz-medium: 24px;
	--fz-small: 18px;
}

body {
	margin: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: var(--white);
}

ol,
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

b {
	font-weight: 400;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1440px;
}

.headline {
	position: relative;
	margin: 0 0 20px 0;
	padding-left: 30px;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-large);
	line-height: 56px;
}

.headline::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 15px;
	height: 2px;
	background-color: var(--blue);
	transform: translateY(-50%);
}

.link {
	position: relative;
	transition: .3s ease color;
}

.link:hover {
	color: var(--light-blue);
}

.link:focus {
	outline: none;
}

.link:focus::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	border: 1px solid var(--white);
	transform: translate(-50%, -50%);
}

.about {
	margin-bottom: 30px;
	padding: 30px 0;
	background-image: url("./img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.about__person {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	padding: 30px;
	border: 1px solid var(--white);
}

.about__avatar {
	margin-bottom: 15px;
	width: 220px;
	height: 220px;
	object-fit: contain;
	background-color: #fff;
	border-radius: 50%;
}

.about__name {
	margin-bottom: 10px;
	color: var(--white);
	font-weight: 300;
	font-size: var(--fz-large);
	text-align: center;
}

.about__profession {
	color: var(--white);
	font-weight: 300;
	font-size: var(--fz-medium);
	text-align: center;
	white-space: nowrap;
}

.about__content {
	position: relative;
	padding-top: 30px;
	border-top: 1px solid var(--white);
}

.about__content-wrapper {
	padding-left: 15px;
}

.about__headline {
	margin: 0 0 10px 0;
	color: var(--white);
	font-weight: 300;
	font-size: var(--fz-large);
}

.about__description {
	display: block;
	margin-bottom: 30px;
	color: var(--white);
	font-size: var(--fz-small);
}

.about__info {
	margin-bottom: 30px;
}

.about__str {
	margin: 0 0 15px 0;
}

.about__title {
	margin: 0 0 5px 0;
	color: var(--white);
	font-weight: 700;
	font-size: var(--fz-small);
}

.about__text {
	padding-left: 15px;
	color: var(--white);
	font-weight: 700;
	font-size: var(--fz-small);
}

.about__social-networks {
	display: flex;
	justify-content: center;
}

.about__social-network:not(:last-child) {
	margin-right: 30px;
}

.about__social-network {
	position: relative;

}

.about__social-network:hover svg {
	color: var(--light-blue);
}

.about__social-network:active svg {
	transform: scale(1.05);
}

.about__social-network:active::before {
	content: none;
}

.about__social-network:focus {
	outline: none;
}

.about__social-network:focus::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	border: 1px solid var(--white);
	transform: translate(-50%, -50%);
}

.about__social-network svg {
	width: 60px;
	height: 60px;
	color: var(--white);
	cursor: pointer;
	transition: .3s ease color, .3s ease transform;
}

.language-list {
	position: absolute;
	top: 15px;
	right: 0;
	margin: 0;
	padding: 0;
}

.language-link {
	position: relative;
	color: var(--white);
	font-weight: 300;
	font-size: 14px;
}

.language-link:focus {
	outline: none;
}

.language-link:focus::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	border: 1px solid var(--white);
	transform: translate(-50%, -50%);
}

.education {
	margin-bottom: 30px;
}

.education__wrapper {
	padding-left: 30px;
}

.education__university {
	margin: 0;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.education__university:not(:last-child) {
	margin-bottom: 15px;
}

.skills-and-i-use {
	margin-bottom: 30px;
}

.skills-and-i-use__wrapper:not(:last-child) {
	margin-bottom: 30px;
}

.skills {
	padding-left: 30px;
}

.skills__list {
	margin: 0;
	padding: 0;
}

.skills__item {
	display: flex;
	align-items: center;
}

.skills__item:not(:last-child) {
	margin-bottom: 15px;
}

.skills__title {
	width: 60%;
	margin: 0;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--gray);
}

.dot.dot--check {
	background-color: var(--blue);
}

.dot:not(:last-child) {
	margin-right: 5px;
}

.i-use {
	padding-left: 30px;
}

.i-use__paragraph {
	margin: 0 0 15px 0;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.i-use__mini-text {
	display: block;
	color: var(--blue);
	font-weight: 300;
	font-size: 14px;
	text-align: center;
}

.learn-and-time {
	margin-bottom: 30px;
}

.goals {
	padding-left: 30px;
}

.learn-and-time__wrapper:not(:last-child) {
	margin-bottom: 30px;
}

.goals__list {
	margin: 0;
	padding: 0;
}

.goals__item {
	position: relative;
	padding-left: 25px;
}

.goals__item::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--blue);
}

.goals__item:not(:last-child) {
	margin-bottom: 15px;
}

.goals__title {
	margin: 0;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.time-training__wrapper {
	padding-left: 30px;
}

.time-training__list {
	margin: 0;
	padding: 0;
}

.time-training__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 25px;
}

.time-training__item::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--blue);
}

.time-training__item:not(:last-child) {
	margin-bottom: 15px;
}

.time-training__title {
	margin: 0;
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.time-training__text {
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.experience {
	margin-bottom: 30px;
}

.experience__inner {
	padding-left: 30px;
}

.experience__wrapper:not(:last-child) {
	margin-bottom: 15px;
}

.experience__title {
	margin: 0 0 5px 0;
	color: var(--blue);
	font-weight: 400;
	font-size: var(--fz-medium);
}

.experience__text {
	color: var(--blue);
	font-weight: 300;
	font-size: var(--fz-medium);
}

.interests {
	margin-bottom: 30px;
}

.interests__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.interests__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.interests__item:not(:last-child) {
	margin-bottom: 15px;
}

.interests__item--technology {
	background-image: url("./img/technology.png");
}

.interests__item--fashion {
	background-image: url("./img/fashion.png");
}

.interests__item--nature {
	background-image: url("./img/nature.png");
}

.interests__item--books {
	background-image: url("./img/books.png");
}

.interests__item .interests__text {
	color: rgba(255, 255, 255, .7);
	font-weight: 700;
	font-size: var(--fz-medium);
}

.interests__item .interests__text:not(:last-child) {
	margin-bottom: 10px;
}

.love-code {
	display: block;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: var(--fz-small);
	text-align: center;
	background: -webkit-linear-gradient(to left, #4897B7 35%, #73FAFF 69%);
	background: -moz-linear-gradient(to left, #4897B7 35%, #73FAFF 69%);
	background: linear-gradient(to left, #4897B7 35%, #73FAFF 69%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (min-width: 576px) {
	.interests__list {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.interests__item:not(:nth-child(2n)) {
		margin-right: 15px;
	}
}

@media screen and (min-width: 768px) {
	.interests__item:not(:nth-child(2n)) {
		margin-right: 0;
	}

	.interests__item:not(:last-child) {
		margin-right: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.about {
		margin-bottom: 60px;
	}
	
	.about__wrapper {
		display: flex;
	}

	.about__name {
		font-size: var(--fz-huge);
	}

	.about__profession {
		font-size: var(--fz-large);
	}

	.about__content {
		padding: 0 0 0 30px;
		border-top: none;
		border-left: 1px solid var(--white);
	}

	.about__person {
		margin: 0 30px 0 0;
	}

	.about__info {
		width: 50%;
	}

	.about__str {
		display: flex;
		align-items: center;
	}

	.about__title {
		width: 50%;
	}

	.about__text {
		padding-left: 0;
		width: 50%;
	}

	.about__social-networks {
		justify-content: flex-end;
	}

	.language-list {
		top: 0;
	}

	.education {
		margin-bottom: 60px;
	}

	.skills-and-i-use {
		margin-bottom: 60px;
	}

	.combo-inner {
		display: flex;
	}
	
	.combo-wrapper {
		width: 50%;
	}
	
	.combo-wrapper:not(:nth-child(2n)) {
		margin-right: 30px;
	}

	.combo-wrapper:not(:last-child) {
		margin-bottom: 0;
	}

	.learn-and-time {
		margin-bottom: 60px;
	}

	.skills__title {
		width: 40%;
	}

	.time-training__item {
		justify-content: flex-start;
	}

	.time-training__title {
		width: 40%;
	}

	.experience {
		margin-bottom: 60px;
	}

	.interests {
		margin-bottom: 60px;
	}
}